<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ t('home.title') }}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/static/css/home.css" rel="stylesheet">
</head>
  <body>
    {% set active_page = 'home' %}
    {% include 'partials/navbar.html' %}

      <div class="hero bg-light mt-5 pt-5">
        <div class="container">
          <h1>{{ t('home.hero_title') }}</h1>
          <p class="mb-4">{{ t('home.hero_subtitle') }}</p>
          <a href="/inventory" class="btn btn-primary btn-lg">{{ t('home.browse_inventory') }}</a>
        </div>
      </div>
  
      <div class="container my-5">
        <div class="row text-center">
          <div class="col-md-4 mb-4">
            <h4>{{ t('home.card_organize_title') }}</h4>
            <p>{{ t('home.card_organize_desc') }}</p>
          </div>
          <div class="col-md-4 mb-4">
            <h4>{{ t('home.card_search_title') }}</h4>
            <p>{{ t('home.card_search_desc') }}</p>
          </div>
          <div class="col-md-4 mb-4">
            <h4>{{ t('home.card_stock_title') }}</h4>
            <p>{{ t('home.card_stock_desc') }}</p>
          </div>
        </div>
      </div>
    {% include 'partials/footer.html' %}
  </body>
</html>